<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>menu List</title>
</head>
<body>
	<h1 align="center">메뉴 리스트 페이지</h1>
	
	<table align="center" border="1">
		<tr>
			<th>메뉴번호</th>
			<th>메뉴이름</th>
			<th>메뉴가격</th>
			<th>카테고리코드</th>
			<th>판매상태</th>
		</tr>
		<tr th:each="menu : ${ menuList }">
			<td th:text="${ menu.code }">메뉴 코드</td>
			<td th:text="${ menu.name }">메뉴 내용</td>
			<td th:text="${ menu.price }">메뉴 가격</td>
			<td th:text="${ menu.categoryCode }">카테고리 코드</td>
			<td th:text="${ menu.orderableStatus }">주문 가능 여부</td>
		</tr>
	</table>
</body>
</html>